{% extends "../layout/dashboard.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/dashboard/assets/board/boards.css">
    <link rel="stylesheet" href="/webpack/front-assets/react/board.css">
{% endblock %}

{% block currentBoard %}
    <h1>Board</h1>
    <div class="boards-container">
            <div class="board" id="{{ board.id }}">
                <li  style="background-color: {{ board.backgroundColor }}">
                    <h6 style="color: {{ board.color }}">Name: {{ board.name }}</h6>
                    <h6 style="color: {{ board.color }}">Description: {{ board.description }}</h6>
                    <h6 style="color: {{ board.color }}">Color: {{ board.color }}</h6>
                    <h6 style="color: {{ board.color }}">Font: {{ board.font }}</h6>
                    <h6 style="color: {{ board.color }}">BackgroundColor: {{ board.backgroundColor }}</h6>
                </li>
            </div>
    </div>
    <div id="react-board-app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/webpack/front-assets/react/board.js"></script>
{% endblock %}
