{% extends "../layout/dashboard.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/dashboard/assets/board/boards.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
      function openModal() {
        document.getElementById('modal').style.display = 'flex';
      }

      function closeModal() {
        document.getElementById('modal').style.display = 'none';
      }
    </script>
{% endblock %}

{% block content %}
    <h1>Boards</h1>
    <div class="boards-container">
        {% block chat %}
            {% include '../layout/partials/chat.twig' %}
        {% endblock %}

        <ul class="boards">
            {% for board in boards %}
                <li>
                    <h6>Name: {{ board.name }}</h6>
                    <h6>Description: {{ board.description }}</h6>
                    <h6>Color: {{ board.color }}</h6>
                    <h6>Font: {{ board.font }}</h6>
                    <h6>BackgroundColor: {{ board.backgroundColor }}</h6>
                </li>
            {% endfor %}
        </ul>

        <button onclick="openModal()">Create New Board</button>

        <div id="modal" class="modal">
            <div class="modal-content">
                <h2>Create New Board</h2>
                <form action="/boards" method="POST">
                    <input type="text" name="name" placeholder="Board Name" required>
                    <input type="text" name="description" placeholder="Board Description" required>
                    <input type="text" name="Color" placeholder="Board Color" required>
                    <input type="text" name="Font" placeholder="Board Font" required>
                    <input type="text" name="BackgroundColor" placeholder="Board backgroundColor" required>
                    <div class="modal-btn">
                        <button type="submit">Create</button>
                        <button type="button" onclick="closeModal()">Close</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
{% endblock %}
